apiVersion: v1
kind: ConfigMap
metadata:
  name: cpu-alert-rules
  namespace: monitoring
  labels:
    app: prometheus
data:
  cpu-alert.yaml: |
    groups:
      - name: k8s-alerts
        rules:
          - alert: HighCPUUsage
            expr: sum(rate(container_cpu_usage_seconds_total[1m])) by (pod) > 0.8
            for: 1m
            labels:
              severity: warning
            annotations:
              summary: "CPU usage > 80% for pod {{ $labels.pod }}"
              description: "Pod {{ $labels.pod }} CPU usage > 80% trong 1 phút."
